In [16]:
import pandas as pd, numpy as np

In [17]:
df = pd.DataFrame(pd.read_csv('SPECT.csv'))
df['Class'].describe

<bound method NDFrame.describe of 0      Yes
1      Yes
2      Yes
3      Yes
4      Yes
5      Yes
6      Yes
7      Yes
8      Yes
9      Yes
10     Yes
11     Yes
12     Yes
13     Yes
14     Yes
15     Yes
16     Yes
17     Yes
18     Yes
19     Yes
20     Yes
21     Yes
22     Yes
23     Yes
24     Yes
25     Yes
26     Yes
27     Yes
28     Yes
29     Yes
      ...
237    Yes
238    Yes
239    Yes
240    Yes
241    Yes
242    Yes
243    Yes
244    Yes
245    Yes
246    Yes
247    Yes
248    Yes
249    Yes
250    Yes
251    Yes
252     No
253     No
254     No
255     No
256     No
257     No
258     No
259     No
260     No
261     No
262     No
263     No
264     No
265     No
266     No
Name: Class, Length: 267, dtype: object>

In [18]:
df.head()

,Class,Attr_1,Attr_2,Attr_3,Attr_4,Attr_5,Attr_6,Attr_7,Attr_8,Attr_9,...,Attr_13,Attr_14,Attr_15,Attr_16,Attr_17,Attr_18,Attr_19,Attr_20,Attr_21,Attr_22
0,Yes,0,0,0,1,0,0,0,1,1,...,1,1,0,0,0,0,0,0,0,0
1,Yes,0,0,1,1,0,0,0,1,1,...,1,1,0,0,0,0,0,0,0,1
2,Yes,1,0,1,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
3,Yes,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,Yes,0,0,0,0,0,0,0,1,0,...,1,0,1,1,0,0,0,0,0,0

In [ ]:
class NN:
    def __init__(self,inputs,actual):
        self.inputs = inputs
        self.layer1 = inputs
        self.actual = actual
        self. layer2 = [0]*5